body{background-color: #243B0F;}

.menu {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1vw;
    grid-column-gap: 1vw;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.menu > a.menu_btn{
    padding: 2vw ;
    background-color: #72BA2F;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:#505A2E;
    box-shadow: 0 0.7vw 1vw rgba(0, 0, 0, .81);
    transition: .5s;
}

.menu > a.menu_btn:hover{
    background-color: #98C66D;
    box-shadow: none;
}


.main_page_grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(12vw, auto);
    grid-gap: 1vw; 
    
}

.main_page_grid > div{
    padding: 1vw;
    background-color: #72BA2F;
    background-size: 200%;
    background-position: 20%;
    box-shadow: 0 0.7vw 1vw rgba(0, 0, 0, .65);
    transition: .5s;
}
.main_page_grid > div:hover{
    background-position: 40%;
    background-color: #538722;
    box-shadow: none;
}


.box1{
    grid-column: 1/3;
    grid-row: 1/3;
}

.box2{
    grid-row: 1/3;
}

button.Django_set{
    margin-top: 3.5vw;
    padding: 1vw 1vw;
    background-color:  #98C66D;
    color: #505A2E;
    font-size: 2vw;
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    border: none;
}

button.Django_set:hover{
    background-color:#243B0F;
}

.box1_grid{
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-auto-rows: minmax(6vw, auto);
    grid-gap: 1vw; 
    
}

.box1_grid > a.link > img.img_1{
    width: 35vw;
    padding: 1vw;
    
}

.box1_grid > a.text_home{
    padding: 1vw;
    background-color: #98C66D;
    font-size: 1.2vw;
    text-overflow: nowrap;
    max-height: 20vw;
    overflow: hidden;
}

img.img_2{
    width: 24vw;
}

a.text_home2{
    padding: 1vw;
    font-size: 1vw;
    background-color: #B4FF4D;

}

pre.text_{

    margin-left: 10vw;
    padding: 1vw;
    font-size: 1.5vw;
    background-color: #B4FF4D;
    width: 78vw;
    max-width: 78vw;
    text-overflow: nowrap;
}

.img_on_stat{
    width: 40vw;
    margin-left: 10vw;
    margin-top: 4vw;
    box-shadow: 0 0.7vw 1vw rgba(0, 0, 0, .67);
    transition: .5s;
}

.img_on_stat:hover{
    margin-left: 30vw;
    box-shadow: none;
    transition: .5s;
}

a.text_name{
    margin-left: 20%;
    margin-top: 6vw;
    background-color: #B4FF4D;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:#505A2E;
    box-shadow: 0 0.7vw 1vw rgba(0, 0, 0, .34);
}

.eag{
    position: absolute;
    z-index: -1200;
    margin-left: -50vw;
    margin-top: 20vw;
}

.comment_box{
    width: 80vw;
    margin-left: 10vw;
    background-color: #D5F856;
}
.comment_box2{
    width: 80vw;
    margin-left: 10vw;
    background-color: #D5F856;
}

button.comment_btn{
    margin-left: 3vw;
    margin-top: 2vw;
    padding: 2vw ;
    background-color: #B4FF4D;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color:#505A2E;
    border: none;
    box-shadow: 0 0.7vw 1vw rgba(0, 0, 0, .65);
    transition: .5s;
}

button.comment_btn:hover{
    box-shadow: none;
    transition: .5s;
}

img.img_3{
    width: 20vw;
    margin-left: 0.5vw;
}

.static_dj{
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    height: 4vw;
    width: 20vw;
    background-color:  #98C66D;
    color: #505A2E;
    font-size: 2vw;
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    border: none;
}

.static_dj:hover{
    background-color: #243B0F;
}

.css_btn{
    margin-top: 11.8vw;
    margin-left: -20.4vw;
    height: 4vw;
    width: 20vw;
    background-color:  #98C66D;
    color: #505A2E;
    font-size: 2vw;
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    border: none;
    position: absolute;
}

.css_btn:hover{
    background-color:  #243B0F;
}

.js_btn{
    margin-top: 11.8vw;
    margin-left: -20vw;
    height: 4vw;
    width: 20vw;
    background-color:  #98C66D;
    color: #505A2E;
    font-size: 2vw;
    font-family: 'Helvetica', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    border: none;
    position: absolute;
}

.js_btn:hover{
    background-color:  #243B0F;
}